snippet #3 "repeat # several times"
### ${0}
endsnippet


snippet #4 "repeat # several times"
#### ${0}
endsnippet


snippet #5 "repeat # several times"
##### ${0}
endsnippet


snippet #6 "repeat # several times"
###### ${0}
endsnippet

