snippet comm "Comment Section"
" ===
" === ${1:New Section}
" ===
${0}
endsnippet

snippet acom "Comment Section with end Section"
" ===
" === ${1:New Section}
" ===
${0}

" ===
" === end $1
" ===
endsnippet


snippet plug "create Plug snippet for github"
Plug 'https://github.com.cnpmjs.org/${0}'
endsnippet

